/*
.image{
  content: url(https://thumbs.gfycat.com/BlaringCoolGemsbuck-small.gif)
} */


.step{
  z-index: -1;
  top:0;
  width: 1550px;
}

.transToContext {
  text-shadow: 5px 5px #070E3F;
  font-family: 'Passero One';
  font-size: 70px;
  color:  #8B0101;
  position:absolute;
  z-index: 3;
  padding:150px;
}

.transToContext:hover {
  transition: 0.5s;
  color: #070E3F;
  text-shadow: 5px 5px #8B0101;
}

.blank{
  background-color: transparent;
  padding:  900px 0  0  0;
}
article {
  position: relative;
}
figure.sticky{
  position: sticky;
  width :100%;
  height: 35vh;
  z-index: 1;
  margin: 0;
  top :0vh;
  left :0;
}
.textBar{
  text-shadow: 10px 10px #070E3F;
  font-family: 'Passero One';
}
.step{
  text-shadow: 5px 5px #070E3F;
  font-family: 'Passero One';
  font-size: 70px;
  color:  #8B0101;
}
.begin{
  height: 500px;
  width: 70%;
  padding:150px;
  padding-top: 50px;
  /* background-color: black; */

  top:0;
}
.question{
    height: 500px;
    width: 70%;
    padding:150px;
    /* background-color: black; */

    top:0;
}
.answer{
    height: 500px;
    width: 70%;
    padding:150px;
}
.assumption{
    height: 500px;
    width: 70%;
    padding:150px;
}
.reason{
    height: 500px;
  width: 70%;
  padding:150px;
}
