
.step h1{
  font-size: 60px;
  margin: 140px;
  color:  #8B0101;
  text-shadow: 2px 2px #070E3F;
  font-family: "Nanum Brush Script";
}

.step p{
 font-size: 60px;
 margin: 140px;
 color:  #8B0101;
 padding:  500px 0  0  0;
 text-shadow: 2px 2px #070E3F;
 font-family: "Nanum Brush Script";

}
.step{
  z-index: -1;
  top:0;

 width: 1550px;

}
.transToContext p{
  font-size: 70px;
  margin: 140px;
  color:  #dd0303;
  text-shadow: 2px 2px #070E3F;
  /* padding:  300px 0  0  0; */
  font-family: "Nanum Brush Script";

}

.transToContext{
  position:absolute;
  z-index: 3;
}

.blank{
  background-color: transparent;
  padding:  500px 0  0  0;
}
article {
  position: relative;
}
figure.sticky{
  position: sticky;
  width :100%;
  height: 35vh;
  z-index: 1;
  margin: 0;
  top :0vh;
  left :0;
}
.textBar{
  text-shadow: 15px 15px #070E3F;
  font-family: 'Bangers';
}
